!!!
%html
  %head
    %title Angelo WebSockets Chat Demo
    %link(href="assets/css/bootstrap.min.css" rel="stylesheet" media="screen")
    %link(href="assets/css/application.css" rel="stylesheet" media="screen")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    .container
      .jumbotron
        %h1 Angelo WebSockets Chat Demo
        %p
          This is an Angelo WebSockets Chat Demo. The code lives
          %a(href="https://github.com/kenichi/angelo/tree/master/example/heroku") on GitHub
      %form#channel-form.form-inline
        .form-group
          %input#input-channel.form-control(type="text" placeholder="default")
        %button.btn.btn-primary(type="submit") Change Channel
      %br/
      %form#input-form.form-inline
        .form-group
          %input#input-handle.form-control(type="text" placeholder="Enter handle" autofocus)/
        .form-group
          %input#input-text.form-control(type="text" placeholder="Enter chat text here!" autofocus)/
        %button#chat-button.btn.btn-primary(type="submit" disabled) Send
      .page-header
        %h1 Chat
      #chat-text
    %script(type="text/javascript" src="assets/js/jquery-2.0.3.min.js")
    %script(type="text/javascript" src="assets/js/application.js")
